body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #8700DD, #DA70D6);
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  #game {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
  }
  
  #cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cell {
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: purple;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cell:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  
  #message {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  #restart {
    margin-top: 0px;
    padding: 12px 30px;
    font-size: 1.2rem;
    background-color: #8700DD;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
  }
  
  #restart:hover {
    background-color: #DA70D6;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    font-size: 3rem;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
  }
  